/*RESET RULE*/
*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}

.container  {
    max-width: 1200px;
    margin: 0 auto;
}

.header-container   {
    max-width: 100vw;
    margin: 0 auto;
    background-color: orange;
}

 /*HEADER*/
header {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: orange;
    height: 100px;
}

a {
    text-decoration: none;
    color: white;
}

.header-logo     {
    background-image: url("../img/boolean-logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 50px
}









 /*ROW*/
.card-container {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.card   {
    width: 414px;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-frame {
    width: fit-content;
    height: fit-content;
    margin-bottom: 100px;
    margin-top: 20px;
    margin-left: 20px;
}
.card1  {
    background-image: url(../img/1.webp);
}

.card2  {
    background-image: url(../img/2.webp);
}

.card3  {
    background-image: url(../img/3.webp);
}

.card4  {
    background-image: url(../img/4.webp);
}

.card5  {
    background-image: url(../img/5.webp);
}

.card6  {
    background-image: url(../img/6.webp);
}

.prices {
    display: flex;

}

.current-price  {
    color: red;
    margin-right: 10px;
}



 /*FOOTER*/